.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://falabella.scene7.com/is/image/FalabellaPE/882863258_1?wid=1500&hei=1500&qlt=70');
  background-size: cover;
}