.mat-drawer-container {
  min-height: 100vh;

  .content-cart {
    width: 250px;

    .mat-toolbar {
      

      .example-spacer {
        flex: 1 1 auto;
      }
    }

    .mat-list {
      a {
        color: #4A4A4A;
        text-decoration: none;

        &.active {
          color: #094454;
          text-decoration: underline;
          text-decoration-thickness: 2px;
        }
      }

      a:visited {
        color: #4A4A4A;
      }

      span {
        cursor: pointer;
      }
    }
  }

  .footer {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}