.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;

  img {
    width: 400px;
  }

  div {
    max-width: 300px;

    .form {
      display: flex;
      flex-direction: column;
    }
  }
}